/* inter-regular - latin */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v13-latin-regular.woff2') format('woff2');
  font-display: swap;
}

/* inter-500 - latin */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter-v13-latin-500.woff2') format('woff2');
  font-display: swap;
}

/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/eb-garamond-v27-latin-regular.woff2') format('woff2');
  font-display: swap;
}

/* eb-garamond-italic - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/eb-garamond-v27-latin-italic.woff2') format('woff2');
  font-display: swap;
}

/* eb-garamond-500 - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/eb-garamond-v27-latin-500.woff2') format('woff2');
  font-display: swap;
}

/* eb-garamond-600 - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/eb-garamond-v27-latin-600.woff2') format('woff2');
  font-display: swap;
}
